<h1>NEW WORKS</h1>
<form action="/products/" method="POST">
<input type="text" name="product[name]" placeholder="name">
<input type="text" name="product[price]" placeholder="price">
<input type="submit" value='CREATE'>
</form>