<h1>INDEX</h1>
<table>
<tr>
<th>ID</th>
<th>MODEL</th>
<th>PRICE</th>
</tr>
<% @palaces.each do |palace| %>
<tr>
<td><%= palace.id %></td>
<td><%= palace.model%></td>
<td><%= palace.price%></td>
</tr>
<% end %>
</table>